body {
    background-color: #ffa0e7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: skyblue;
    border-width: 20px;
    width: 30%;
}

img {
    height: 300px;
}